* {
    padding: 0;
    margin: 0;
}


html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: black;
}


.logo {
    position: absolute;
    left: 220px;
    top: -10px;
    position: relative;

}

.description-text {
    position: absolute;
    top: 300px;
    left: 340px;
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

}
.trailer-text {
    position: absolute;
    top: 530px;
    left: 640px;
    color: white;
    font-size: 18px;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
}

.trailer-video {
    position: absolute;
    top: 620px;
    left: 120px;
    z-index: 2;
    border: 4px solid;
    border-radius: 5px;
    border-color: rgba(235,72,143,0.5);
}

.pink-gradient {
    height: 400px;
    position: relative;
    top: 75px;
    background-image: linear-gradient(to bottom, rgba(25,5,26,0), rgba(25,5,26,1));
}

.transition-image{
    position: absolute;
    top: 1000px;
}

.line {
    color: black;
    border: 0px;
}

