body {
    background-color: black;
}

.logo {
    text-align: center;
}

.description-text {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

