* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: black;
}

.logo {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    top: -10px;
}

.description-text {
    width: 100%;
    height: auto;
    position: absolute;
    top: 300px;
    color: white;
    font-size: 18px;
}

.line {
    color: black;
    border: 0px;
    width: 100%;
    height: auto;
}
.trailer-content {
    position: relative;
    height: auto;
    width: 100%;
    padding-left: 2vw;
}

.trailer-text {
    position: relative;
    text-align: center;
    top: 0px;
    color: white;
    font-size: 18px;
    z-index: 1;
}

.trailer-video {
    aspect-ratio: 16/9;
    float: left;
    margin-right: 25px;
    position: absolute;
    max-width: 720px;
    width: 100%;
    top: 20px;
    left: 10vw;
    z-index: 2;
    border: 4px solid;
    border-radius: 5px;
    border-color: rgba(235,72,143,0.5);
}

.store-link {
    float: right;
    z-index: 3;
    padding: 30px;
    text-align: center;
    position: relative;
    top: 20px;
    right: 18vw;
    width: 100%;
    max-width: 100px;
    height: auto;
    max-height: 421,88px;
    border: 4px solid;
    border-radius: 5px;
    border-color: rgba(235,72,143,0.5)
}

.link-icon-steam{
    height: 25px;
    width: 25px;
    margin-top: 30px;
}

.link-icon-playstation{
    height: 25px;
    width: 25px;
    margin-top: 30px;
}

.link-icon-nintendo{
    height: 25px;
    width: 25px;
    margin-top: 30px;
}

.link-icon-xbox{
    height: 25px;
    width: 25px;
    margin-top: 30px;
}   

.pink-gradient {
    height: 400px;
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 50px;
    background-image: linear-gradient(to bottom, rgba(25,5,26,0), rgba(25,5,26,1));
}

.transition-image{
    position: relative;
    top: 0px;
    height: auto;
    width: 100%;
}

.link-to-requirement{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgb(26,4,26);
}

.link-to-requirement a {
    color: white;
    text-decoration: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
}