* {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    background-color: black
}

html{
    background-color: black;
    margin: 0;
    padding: 0;
}

.img-center {
    text-align: center;
}

.item-background {
    background-color: #1c1c1c;
    transition:  ease .3s;
}

.item-background:hover {

}

.merch-item {
    background-color: transparent;
    transition: ease .3s;
}

.merch-item:hover {
    transform: translate(0, -11px);
}

.transparent-bg {
    background-color: transparent;
}