* {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    background-color: black
}

html{
    background-color: black;
    margin: 0;
    padding: 0;
}

.img-center {
    text-align: center;
}