*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html{
    overflow-x: hidden;
}

#requirements {
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#requirements table {
    width: 100%;
}

#requirements th, #requirements td {
    padding: 10px;
    border: 1px solid #ddd;
}

#requirements th {
    background-color: #f2f2f2;
    font-weight: bold;
}

section {
    margin-bottom: 50px;
}

#pre-order-form {
    filter: drop-shadow(0px 0px 5px #e3aa56);
    text-align: center;
    position: relative;
    left: 34.5%;
    right: 30%;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    border: 5px solid burlywood;
    background-color: bisque;
    border-radius: 5px;
}

.pre-order button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: burlywood;
    border-radius: 5px;
}



.logo img {
    width: 50px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    filter: drop-shadow(0px 0px 5px #e3aa56);
}

.logo {
    background-color: blanchedalmond;
    height: auto;
    max-height: 70px;
    padding-left: 30px;
    align-items: center;
    display: flex;
    float: left;
}

.logo img {
    width: 50px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    filter: drop-shadow(0px 0px 5px #e3aa56);
}

.logo {
    background-color: blanchedalmond;
    height: auto;
    max-height: 70px;
    padding-left: 30px;
    align-items: center;
    display: flex;
    float: left;
}


.navigation-tool {
    background-color: blanchedalmond;
    width: 100%;
    height: auto;
    max-height: 70px;
    display: flex;
    border-bottom: 5px solid burlywood;
    filter: drop-shadow(0px 0px 5px #e3aa56);
}

.bottom-image {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 480px;
}

.bottom-image img {
    width: 100%;
    height: auto;
    position: relative;
    top: 10px;
}

.home a{
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    margin: 20px;
    font-weight: bold;
    padding-top: 0.6vh;
    padding-left: 1vw;
    align-items: center;
    float: right;
    display: flex;
    color: black;
}

.textRequirement {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}