*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html{
    overflow-x: hidden;
}


#requirements th, #requirements td {
    padding: 10px;
    border: 1px solid #ddd;
}

#requirements th {
    background-color: #f2f2f2;
    font-weight: bold;
}

section {
    margin-bottom: 50px;
}

#lamp-logo{
    filter: drop-shadow(0 0 5px black);
}



